@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'),
  url('../fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'),
  url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff');
}

:root {
  --main-color: #9D5CD0;
  --second-color: #7943A4;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: #fff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.container {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1600px;
}

.btn {
  border: #9D5CD0 2px solid;
  border-radius: 100px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}

/*Head*/
.head {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.head__top {
  display: flex;
  min-height: 100px;
  background: black;
}

.head__top-container {
  display: flex;
  align-items: center;
}

.head__top-left {
  margin-right: 173px;
}

.head__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.head__link,
.head__top-right {
  padding: 6px;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: white;
}

.head__item {
  padding: 5px 0;
}

.head__item:not(:last-child) {
  margin-right: 48px;
}

.head__link:hover {
  color: #C283F3;
}

.head__link:focus {
  background: #7943A4;
  outline: none;
}

.head__link:active {
  color: #7943A4;
  background: rgba(0, 0, 0, 0);
}

.head__top-right {
  margin-left: 271px;
  padding-left: 26px;
  background-image: url("../img/Come_in_icon.png");
  background-repeat: no-repeat;
  background-position: 6px center;
}

.head__top-right:focus {
  background: url("../img/Come_in_icon.png") #7943A4 no-repeat 6px center;
}

.head__top-right:hover {
  background: url("../img/Come_in_icon_hover.png") no-repeat 2px center;
}

.head__top-right:hover .head__comein {
  color: #C283F3;
}

.head__top-right:active {
  background: url("../img/Come_in_icon_activ.png") no-repeat 2px center;
}

.head__top-right:active .head__comein {
  color: #9D5CD0;
}

.head__bottom {
  min-height: 70px;
  background: rgba(0, 0, 0, 0.4);
}

.head__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.head__bottom-left {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  max-width: 1200px;
}

.head__label {
  margin-right: 83px;
}

/*Выпадающий список*/
/*.choices__list--dropdown .choices__item:first-child {*/
/*  display: none;*/
/*}*/

/*.head__bottom-left .choices {*/
/*  height: 26px;*/
/*}*/

/*.head__bottom-left .choices__inner {*/
/*  padding: 0;*/
/*  min-height: 26px;*/
/*  font-size: 18px;*/
/*  line-height: 1;*/
/*  color: #fff;*/
/*  background: rgba(0, 0, 0, 0);*/
/*  border: none;*/
/*  border-radius: 0;*/
/*}*/

/*.head__bottom-left .choices[data-type*=select-one] .choices__inner {*/
/*  padding: 0 6px 0 0!important;*/
/*}*/

/*.choices__placeholder {*/
/*  opacity: 1;*/
/*}*/

/*.choices[data-type*=select-one]::after {*/
/*  display: none;*/
/*}*/

/*.choices[data-type*=select-one]::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 36%;*/
/*  right: 7px;*/
/*  width: 7px;*/
/*  height: 7px;*/
/*  border-bottom: #fff 1px solid;*/
/*  border-right: #fff 1px solid;*/
/*  transform: rotate(45deg);*/
/*}*/

/*.choices[data-type*=select-one].is-open::before {*/
/*  top: 51%;*/
/*  transform: rotate(225deg);*/
/*}*/

/*.head__bottom-left .choices:focus .choices__inner {*/
/*  color: #fff;*/
/*  background: #7943A4;*/
/*}*/

/*.head__bottom-left .choices:hover .choices__inner {*/
/*  color: #9D5CD0;*/
/*  background: rgba(0, 0, 0, 0);*/
/*}*/

/*.head__bottom-left .choices:hover.choices[data-type*=select-one]::before {*/
/*  border-bottom: #9D5CD0 1px solid;*/
/*  border-right: #9D5CD0 1px solid;*/
/*}*/

/*.head__bottom-left .choices:active .choices__inner {*/
/*  color: #7943A4;*/
/*  background: rgba(0, 0, 0, 0);*/
/*}*/

/*.head__bottom-left .choices:active.choices[data-type*=select-one]::before {*/
/*  border-bottom: #7943A4 1px solid;*/
/*  border-right: #7943A4 1px solid;*/
/*}*/

/*.head__bottom-left .choices__list--dropdown {*/
/*  margin-top: 11px;*/
/*}*/

/*.head__bottom-left .choices__list .choices__list--dropdown .is-open {*/
/*  border: #000 1px solid;*/
/*}*/

/*.head__bottom-left .choices__list--dropdown .choices__list {*/
/*  padding-left: 35px;*/
/*  width: 300px;*/
/*  height: 230px;*/
/*}*/

/*.head__bottom-left .is-open .choices__list--dropdown {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  width: 305px;*/
/*  height: 300px;*/
/*  background: rgba(0, 0, 0, .6);*/
/*  border: #000 1px solid;*/
/*  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
/*}*/

/*.head__bottom-left .choices__list--dropdown .choices__item {*/
/*  width: 220px;*/
/*  height: 40px;*/
/*  box-sizing: border-box;*/
/*  font-size: 14px;*/
/*  font-weight: 600;*/
/*  line-height: 1;*/
/*  color: #fff;*/
/*  text-shadow: 1px 0 1px #000,*/
/*  0 1px 1px #000,*/
/*  -1px 0 1px #000,*/
/*  0 -1px 1px #000;*/
/*  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
/*  background: url("../img/dr1_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .choices__list--dropdown .choices__item:nth-child(2) {*/
/*  margin-top: 2px;*/
/*}*/

/*.head__bottom-left .choices__list--dropdown .choices__item.is-highlighted {*/
/*  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
/*  outline: #9D5CD0 2px solid;*/
/*}*/

/*.head__bottom-left .choices__list--dropdown .choices__item:hover {*/
/*  outline: #9D5CD0 2px solid;*/
/*}*/

/*.head__bottom-left .choices__list--dropdown .choices__item:not(:last-child) {*/
/*  margin-bottom: 20px;*/
/*}*/

/*.choices__list--dropdown .choices__item--selectable:after {*/
/*  display: none;*/
/*}*/

/*.head__bottom-left .simplebar-track.simplebar-vertical {*/
/*  right: 20px;*/
/*  width: 2px;*/
/*  background: #000;*/
/*}*/

/*.head__bottom-left .simplebar-scrollbar {*/
/*  left: -2px;*/
/*}*/

/*.head__bottom-left .simplebar-scrollbar::before {*/
/*  width: 2px;*/
/*  background-color: #fff;*/
/*}*/

/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(2) {*/
/*  background: url("../img/dr1_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(2):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 57.jpg") no-repeat;*/
/*}*/


/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(3) {*/
/*  background: url("../img/dr1_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(3):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(4) {*/
/*  background: url("../img/dr1_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(4):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(5) {*/
/*  background: url("../img/dr1_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-1 .choices__list--dropdown .choices__item:nth-child(5):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(2) {*/
/*  background: url("../img/dr2_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(2):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(3) {*/
/*  background: url("../img/dr2_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(3):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(4) {*/
/*  background: url("../img/dr2_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(4):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(5) {*/
/*  background: url("../img/dr2_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-2 .choices__list--dropdown .choices__item:nth-child(5):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(2) {*/
/*  background: url("../img/dr3_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(2):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(3) {*/
/*  background: url("../img/dr3_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(3):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(4) {*/
/*  background: url("../img/dr3_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(4):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(5) {*/
/*  background: url("../img/dr3_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-3 .choices__list--dropdown .choices__item:nth-child(5):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(2) {*/
/*  background: url("../img/dr4_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(2):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(3) {*/
/*  background: url("../img/dr4_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(3):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(4) {*/
/*  background: url("../img/dr4_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(4):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(5) {*/
/*  background: url("../img/dr4_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-4 .choices__list--dropdown .choices__item:nth-child(5):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(2) {*/
/*  background: url("../img/dr5_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(2):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 57.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(3) {*/
/*  background: url("../img/dr5_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(3):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 58.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(4) {*/
/*  background: url("../img/dr5_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(4):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 59.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(5) {*/
/*  background: url("../img/dr5_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__bottom-left .hl-5 .choices__list--dropdown .choices__item:nth-child(5):active {*/
/*  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 60.jpg") no-repeat;*/
/*}*/

/*.head__label:not(:first-child) .head__dropdown {*/
/*  display: none;*/
/*}*/

.head__label {
  position: relative;
}

.head__dropdown {
  position: absolute;
  content: '';
  display: none;
  top: 50px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.head__btn {
  position: relative;
  padding: 6px 24px 6px 6px;
  border-style: none;
  background: transparent;
  cursor: pointer;
}

.head__item-heading {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.head__btn:focus {
  background: #7943A4;
}

.head__btn:hover,
.head__btn:active {
  background: rgba(0, 0, 0, 0);
}

.head__btn:focus .head__item-heading {
  color: #fff;
}

.head__btn:hover .head__item-heading {
  color: #9D5CD0;
}

.head__btn:active .head__item-heading {
  color: #7943A4;
}

.head__item-icon {
    content: '';
    position: absolute;
    top: 36%;
    right: 8px;
    width: 7px;
    height: 7px;
    border-bottom: #fff 1px solid;
    border-right: #fff 1px solid;
    transform: rotate(45deg);
}

.head__btn.is-active  .head__item-icon{
  top: 52%;
  transform: rotate(225deg);
}

.head__btn:focus .head__item-icon {
  border-bottom: #fff 1px solid;
  border-right: #fff 1px solid;
}

.head__btn:hover .head__item-icon {
  border-bottom: #9D5CD0 1px solid;
  border-right: #9D5CD0 1px solid;
}

.head__btn:active .head__item-icon {
  border-bottom: #7943A4 1px solid;
  border-right: #7943A4 1px solid;
}

.head__option {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 14px;
  width: 220px;
  height: 40px;
  box-sizing: border-box;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
  outline: none;
  cursor: pointer;
  border: 2px solid transparent;
}

.head__option::before {
  position: absolute;
  content: '';
  z-index: -1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}

.head__option:hover,
.head__option:focus,
.head__option:active {
  border: 2px solid #9D5CD0;
}

.head__bottom-link {
  outline: none;
}

.simplebar-offset {
  padding: 40px 0;
}

.simplebar-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simplebar-content {
  height: 220px;
}

.simplebar-track {
  top: 40px!important;
  bottom: 40px;
  background: #000;
}

.simplebar-track.simplebar-vertical {
  right: 20px;
  width: 2px;
}

.simplebar-scrollbar {
  background: white;
}

.head__option:not(:last-child) {
  margin-bottom: 20px;
}

.is-active {
  display: block;
}

.is-disabled {
  display: none;
}

.head__label:nth-child(1) .head__option:nth-child(1)::before {
  background: url("../img/dr1_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(1) .head__option:nth-child(1):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(1) .head__option:nth-child(2)::before {
  background: url("../img/dr1_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(1) .head__option:nth-child(2):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(1) .head__option:nth-child(3)::before {
  background: url("../img/dr1_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(1) .head__option:nth-child(3):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(1) .head__option:nth-child(4)::before {
  background: url("../img/dr1_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(1) .head__option:nth-child(4):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr1_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(1)::before {
  background: url("../img/dr2_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(1):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(2)::before {
  background: url("../img/dr2_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(2):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(3)::before {
  background: url("../img/dr2_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(3):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(4)::before {
  background: url("../img/dr2_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(2) .head__option:nth-child(4):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr2_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(1)::before {
  background: url("../img/dr3_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(1):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(2)::before {
  background: url("../img/dr3_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(2):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(3)::before {
  background: url("../img/dr3_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(3):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(4)::before {
  background: url("../img/dr3_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(3) .head__option:nth-child(4):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr3_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(1)::before {
  background: url("../img/dr4_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(1):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(2)::before {
  background: url("../img/dr4_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(2):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(3)::before {
  background: url("../img/dr4_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(3):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(4)::before {
  background: url("../img/dr4_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(4) .head__option:nth-child(4):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr4_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(1)::before  {
  background: url("../img/dr5_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(1):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 57.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(2)::before {
  background: url("../img/dr5_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(2):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 58.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(3)::before {
  background: url("../img/dr5_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(3):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 59.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(4)::before {
  background: url("../img/dr5_Rectangle 60.jpg") no-repeat;
}

.head__label:nth-child(5) .head__option:nth-child(4):active::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/dr5_Rectangle 60.jpg") no-repeat;
}

.head__search {
  display: flex;
}

.head__search-label {
  display: flex;
  align-items: flex-end;
}

.head__search-btn {
  padding: 3px;
  box-sizing: content-box;
  width: 22px;
  height: 22px;
  background: rgba(0, 0, 0, 0) url("../img/Search.png") no-repeat center;
  border: none;
  outline: none;
}

.head__search-btn:focus,
.head__search-btn:hover {
  outline: #C283F3 1px solid
}

.head__search-input {
  margin-left: 6px;
  width: 218px;
  line-height: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: rgba(255, 255, 255, 0.85) 1px solid;
  cursor: pointer;
}

/*Поиск*/
.head__search-input:hover {
  border-bottom: #C283F3 1px solid;
  outline: none;
}

.head__search-input:focus {
  border-bottom: #7943A4 1px solid;
  outline: none;
}

.head__search-input:focus.head__search-input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.head__search-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

/*Main*/
/*Banner*/
.banner {
  position: relative;
  min-height: 717px;
}

.banner .swiper-container-autoheight,
.banner .swiper-container-autoheight .swiper-slide {
  height: 780px;
}

.banner .swiper-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%!important;
}

.banner .swiper-item {
  height: 100vh;
}

.banner .swiper-slide-active .swiper-item {
  transform: scale(1.25);
  animation: pulse 10s ease-in-out infinite;
}

@keyframes pulse {
  from {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

.banner__head {
  padding-top: 159px;
  margin: 0 0 10px 0;
  width: 565px;
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: white;
}

.banner__description {
  margin-bottom: 94px;
  width: 550px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: white;
}

.banner__btn {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding: 23px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: white;
  background: #9D5CD0;
  border: none;
  border-radius: 100px;
}

.banner__btn::before {
  display: none;
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.banner__btn::after {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid #D1A9F0;
  border-radius: 100px;
}

.banner__btn:hover {
  padding: 20px 32px;
  border: 3px solid #D1A9F0;
}

.banner__btn:active {
  padding: 20px 32px;
  background: #7943A4;
  border: 3px solid #D1A9F0;
}

.banner__btn:focus {
  padding: 23px 35px;
  outline: none;
  border: none;
}

.banner__btn:focus.banner__btn::before {
  display: block;
}

.banner__btn:active.banner__btn::before {
  display: none;
}

.banner__btn:active.banner__btn::after {
  display: block;
}

/*О нас*/
.aboutUs {
  margin-bottom: 70px;
}

.aboutUs__head {
  margin-top: 80px;
  margin-bottom: 2px;
  line-height: 65px;
  color: #333333;
}

.aboutUs__content {
  max-width: 1084px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/*Галерея*/
.gallery {
  min-height: 995px;
  background: url("../img/Gallery_fon.jpg");
}

.gallery__container {
  display: flex;
}

.gallery__left {
  position: relative;
  height: 995px;
  margin-right: 50px;
}

.gallery__head {
  margin-top: 80px;
  margin-bottom: 15px;
  line-height: 65px;
  color: white;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
}

.gallery__filter-span {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: white;
}

/*!*Выпадающий список*!*/
.choices__list--dropdown .choices__item:first-child {
  display: none;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one]::after {
  display: none;
}

.choices[data-type*=select-one]::before {
  content: '';
  position: absolute;
  top: 36%;
  right: 7px;
  width: 7px;
  height: 7px;
  border-bottom: #fff 1px solid;
  border-right: #fff 1px solid;
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open::before {
  top: 45%;
  transform: rotate(225deg);
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.gallery__dropdown .choices__inner {
  padding: 3px 0 0 15px;
  width: 400px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border: #fff 1px solid;
  border-radius: 6px;
}

.gallery__dropdown .choices:hover,
.gallery__dropdown .choices:focus {
  background: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 3px;
}

.gallery__dropdown .choices__item {
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.gallery__dropdown .choices[data-type*=select-one]::before {
  right: 14px;
}

.gallery__dropdown .is-open .choices__list--dropdown {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border: #999 1px solid;
  border-radius: 6px;
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}

.choices__list--dropdown .choices__item {
  color: #999;
  padding-left: 20px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.gallery__down {
  position: absolute;
  line-height: 31px;
  bottom: 74px;
  margin-bottom: 0;
  max-width: 360px;
  color: white;
}

.gallery__down-span {
  color: #9D5CD0;
}

/*Галерея слайдер*/
.gallery-container {
  margin-top: 105px;
  width: 1150px;
  overflow: hidden;
}

.swiper-slide {
  height: 350px;
  outline: none;
}

.swiper-navigation,
.editions__navigation{
  display: inline-flex;
  margin-bottom: 30px;
  height: 30px;
  align-items: center;
}

.swiper-pagination {
  position: initial;
  margin-right: 22px;
  width: auto;
  color: #fff;
}

.swiper-btn {
  position: relative;
  top: 0;
  margin-top: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #666;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-prev {
  left: 0;
  margin-right: 20px;
}

.swiper-next {
  right: 0;
}

.swiper-btn:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(225deg);
  transform-origin: center;
}

.swiper-prev::before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.swiper-next::before {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-btn:focus {
  border: #000 2px solid;
  outline: none;
}

.swiper-btn:hover {
  background: #9D5CD0;
  border: none;
}

.swiper-btn:active {
  background: #7943A4;
  border: #000 2px solid;
}

.gallery .swiper-slide {
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border: transparent 2px solid;
  cursor: pointer;
  transition: border .3s ease;
}

.gallery .swiper-slide:active {
  border: #D1A9F0 2px solid;
}

.gallery .swiper-slide::after {
  position: absolute;
  content: '';
  z-index: -1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  transition: background .3s ease;
}

.gallery .swiper-slide:nth-child(1)::after {
  background: url("../img/Rectangle 70.jpg");
}

.gallery .swiper-slide:nth-child(2)::after {
  background: url("../img/Rectangle 69.jpg");
}

.gallery .swiper-slide:nth-child(3)::after {
  background: url("../img/Rectangle 68.jpg");
}

.gallery .swiper-slide:nth-child(4)::after {
  background: url("../img/Rectangle 1.jpg");
}

.gallery .swiper-slide:nth-child(5)::after {
  background: url("../img/Rectangle 2.jpg");
}

.gallery .swiper-slide:nth-child(6)::after {
  background: url("../img/Rectangle 3.jpg");
}

.gallery .swiper-slide:nth-child(7)::after {
  background: url("../img/Rectangle 72.jpg");
}

.gallery .swiper-slide:nth-child(8)::after {
  background: url("../img/Rectangle 73.jpg");
}

.gallery .swiper-slide:nth-child(9)::after {
  background: url("../img/Rectangle 71.jpg");
}

.gallery .swiper-slide:nth-child(10)::after {
  background: url("../img/Rectangle 4.jpg");
}

.gallery .swiper-slide:nth-child(11)::after {
  background: url("../img/Rectangle 5.jpg");
}

.gallery .swiper-slide:nth-child(12)::after {
  background: url("../img/Rectangle 6.jpg");
}

.gallery .swiper-slide::before {
  content: '';
  opacity: 0;
  position: absolute;
  top: 25px;
  z-index: 1;
  right: 25px;
  bottom: 25px;
  left: 25px;
  background: url("../img/Loup.png") rgba(0, 0, 0, 0.5) no-repeat center center;
  transition: opacity .3s ease;
}

.gallery .swiper-slide:hover.swiper-slide::before {
  opacity: 1;
}

.gallery .swiper-slide:nth-child(1):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 70.jpg');
}

.gallery .swiper-slide:nth-child(2):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 69.jpg');
}

.gallery .swiper-slide:nth-child(3):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 68.jpg');
}

.gallery .swiper-slide:nth-child(4):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 1.jpg');
}

.gallery .swiper-slide:nth-child(5):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 2.jpg');
}

.gallery .swiper-slide:nth-child(6):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 3.jpg');
}

.gallery .swiper-slide:nth-child(7):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 72.jpg');
}

.gallery .swiper-slide:nth-child(8):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 73.jpg');
}

.gallery .swiper-slide:nth-child(9):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 71.jpg');
}

.gallery .swiper-slide:nth-child(10):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 4.jpg');
}

.gallery .swiper-slide:nth-child(11):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 5.jpg');
}

.gallery .swiper-slide:nth-child(12):active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/Rectangle 6.jpg');
}

/*Catalog*/
.catalog__top {
  display: flex;
  margin-top: 80px;
  margin-bottom: 15px;
}

.catalog__head {
  margin: 0 29px 0 0;
  line-height: 65px;
  color: #333333;
}

.catalog__country-block {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.catalog__country {
  position: relative;
  width: 66px;
  height: 66px;
  cursor: pointer;
  transition: filter .3s ease;
}

.catalog__country:nth-child(1) {
  background: url("../img/France.png") no-repeat center center;
}

.catalog__country:nth-child(2) {
  background: url("../img/German.png") no-repeat center center;
}

.catalog__country:nth-child(3) {
  background: url("../img/Italia.png") no-repeat center center;
}

.catalog__country:nth-child(4) {
  background: url("../img/Russia.png") no-repeat center center;
}

.catalog__country:nth-child(5) {
  background: url("../img/Belgium.png") no-repeat center center;
}

.catalog__country::before {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/Country_ellipse.png");
  transition: opacity .3s ease;
}

.catalog__country::after {
  content: '';
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 2px solid #7943A4;
  border-radius: 100px;
}

.catalog__country:not(:last-child) {
  margin-right: 29px;
}

.catalog__country:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__country:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__country:active.catalog__country::after {
  display: block;
}

.catalog__country:active.catalog__country {
  filter: none;
}

.country-activ.catalog__country::before {
  opacity: 1;
}

.catalog_data {
  display: none;
}

.catalog-active {
  display: block;
}

.catalog__description {
  margin-bottom: 39px;
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__main {
  display: flex;
}

.catalog__left {
  display: none;
  flex-direction: column;
  margin-right: 50px;
}

.catalog__left-activ {
  display: flex;
}

.catalog__photo {
  margin-bottom: 25px;
}

.catalog__name {
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #333333;
}

.catalog__date {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__painter-description {
  margin-top: 4px;
  max-width: 745px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/*Аккордеон*/
.accordion {
  width: 800px;
  font-family: 'Open Sans', sans-serif;
}

.ui-accordion .ui-accordion-header {
  position: relative;
  margin: 0;
  padding: 41px 0 43px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  background: rgba(0, 0, 0, 0);
  outline: none;
  transition: color .3s ease;
}

.ui-accordion .accordion__head-span {
  transition: background .3s ease;
}

.ui-accordion .ui-accordion-header::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 0;
  width: 50px;
  height: 50px;
  background: url("../img/Accordion_arrow.svg");
  transition: background .3s ease, transform .3s ease;
}

.ui-accordion .ui-accordion-header:active::before {
  background: url("../img/Accordion_arrow_activ.svg");
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-right: none;
  border-left: none;
}

.ui-state-default,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-top: #CACACA 1px solid;
  border-bottom: #CACACA 1px solid;
  transition: border-top .3s ease, border-bottom .3s ease;
}

.ui-state-default:not(:first-child) {
  margin-top: -1px;
}

.ui-state-hover {
  z-index: 1;
  border-top: #9D5CD0 1px solid;
  border-bottom: #9D5CD0 1px solid;
}

.ui-accordion-header-active,
.ui-state-active {
  z-index: 1;
  border-top: #7943A4 1px solid;
  border-bottom: #7943A4 1px solid;
}

.ui-accordion-header-active.ui-accordion-header::before,
.ui-state-active.ui-accordion-header::before {
  background: url("../img/Accordion_arrow_color.svg");
  transform: rotate(180deg);
}

.ui-state-focus {
  color: white;
}

.ui-state-hover {
  color: #9D5CD0;
}

.ui-state-focus .accordion__head-span {
  background: #7943A4;
}

.ui-state-hover .accordion__head-span {
  background: rgba(0, 0, 0, 0);
}

.ui-state-focus.ui-accordion-header::before,
.ui-state-hover.ui-accordion-header::before {
  background: url("../img/Accordion_arrow_color.svg");
}

.ui-accordion .accordion__body-block {
  display: inline-block;
}

.ui-accordion .accordion__body-block:not(:last-child) {
  margin-right: 50px;
}

.accordion__block::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.accordion__body-block {
  vertical-align: top;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0 25px 0;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.ui-widget-content {
  border: none;
}

.accordion__pointer {
  padding: 1px 0;
  border-bottom: transparent 1px solid;
  cursor: pointer;
  transition: color .3s ease, border .3s ease, background-color .3s ease;
}

.accordion__pointer-activ {
  color: #9D5CD0;
}

.accordion__pointer:focus {
  color: #fff;
  background: #9D5CD0;
  outline: none;
}

.accordion__pointer:hover {
  border-bottom: #9D5CD0 1px solid;
  color: #9D5CD0;
  background: rgba(0, 0, 0, 0);
}

.accordion__pointer:active {
  color: #7943A4;
  background: rgba(0, 0, 0, 0);
  border-bottom: none;
}

/*События*/
.events {
  margin-top: 41px;
}

.events__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events__heading {
  margin-right: auto;
  margin-top: 33px;
  margin-bottom: 2px;
  line-height: 65px;
  color: #333333;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
}

.events__item {
  position: relative;
  display: none;
  margin-bottom: 34px;
  max-width: 500px;
  min-height: 700px;
}

.events__item-activ {
  display: list-item;
}

.events__item::before {
  content: '';
  position: absolute;
  top: 300px;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: #CACACA solid 1px;
  border-bottom: #CACACA solid 1px;
  border-left: #CACACA solid 1px;
}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__img-main {
  margin-bottom: 9px;
}

.events__date {
  display: flex;
  justify-content: flex-end;
  margin-right: 19px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #999999;
}

.events__head {
  margin-top: 4px;
  margin-bottom: 1px;
  margin-left: 50px;
  max-width: 420px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #333333;
}

.events__description {
  margin-left: 50px;
  padding-bottom: 80px;
  max-width: 380px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.events__details {
  position: absolute;
  bottom: 45px;
  left: 50px;
  padding-bottom: 2px;
  font-size: 16px;
  color: #9D5CD0;
  border-bottom: #9D5CD0 solid 1px;
  cursor: pointer;
}

.events__details::before,
.events__details::after {
  content: '';
  display: none;
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
  bottom: -10px;
  left: -8px;
  background: #9D5CD0;
}

.events__details::after {
  background: #fff;
}

.events__details:focus.events__details::before {
  display: block;
}

.events__details:focus.events__details {
  color: #fff;
  border-bottom: #fff solid 1px;
  outline: none;
}

.events__details:hover {
  color: #7943A4;
  border-bottom: #7943A4 solid 1px;
}

.events__details:active {
  color: #333!important;
  border-bottom: #333 solid 1px!important;
}

.events__details:active.events__details::after {
  display: block;
}

.events__button {
  padding: 17px 43px;
  max-width: 188px;
  color: #9D5CD0;
  background-color: white;
}

.disactiv {
  display: none;
}

/*Издания*/
.editions__container {
  display: flex;
}

.editions {
  margin-top: 80px;
  padding-bottom: 30px;
  min-height: 734px;
  background-image: url("../img/Editions_fon.jpg");
}

.editions__left {
  margin-right: 170px;
}

.editions__head {
  margin-top: 80px;
  margin-bottom: 17px;
  line-height: 65px;
  color: white;
}

.editions__categories {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}

/*Кастомный чекбокс*/
.editions__list {
  margin-top: 6px;
  margin-bottom: 40px;
}

.editions__item {
  margin-bottom: 14px;
}

.editions__input {
  position: absolute;
  opacity: 0;
}

.editions__label {
  position: relative;
  padding-left: 24px;
  color: white;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.editions__span {
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
  border: #FFFFFF 1px solid;
  transition: border 300ms ease-in-out;
}

.editions__span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.editions__input:checked + .editions__label .editions__span::before {
  opacity: 1;
  background-image: url("../img/input_ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
}

.editions__input:hover + .editions__label .editions__span,
.editions__input:focus + .editions__label .editions__span,
.editions__input:checked + .editions__label .editions__span {
  border: #C283F3 1px solid;
}

.editions__input:hover + .editions__label,
.editions__input:focus + .editions__label,
.editions__input:checked + .editions__label {
  color: #C283F3;
}

.editions__price {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}

/*Инпут*/
.editions__form {
  position: relative;
  display: flex;
  max-width: 277px;
  height: 40px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 6px;
}

.mb-3 {
  display: flex;
  margin-bottom: 0!important;
}

.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: white;
}

/*Убрирает стрелки*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.form-control {
  max-width: 73px;
  color: white;
  background-color: rgba(157, 92, 208, 0.5);
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.form-control:focus {
  color: #fff;
  border: #fff 1px solid;
  background: #9D5CD0;
  box-shadow: none;
}

.form-control:hover {
  background: #9D5CD0;
  border: none;
}

.form-control:active {
  background: #7943A4;
  border: none;
}

.form-rub {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}

/*Издания слайдер*/
.editions-container {
  margin-top: 115px;
  padding-left: 2px;
  width: 1152px;
  height: 582px;
  overflow: hidden;
}

.editions__description {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 12px;
}

.editions__name,
.editions__author,
.editions__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #FFFFFF;
}

.editions__author,
.editions__price {
  font-weight: 400;
}

.editions__price {
  font-style: italic;
}

.editions__button {
  position: relative;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: white;
  background: rgba(0, 0, 0, 0);
}

.editions__button::before {
  content: '';
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: #C283F3 2px solid;
  border-radius: 100px;
}

.editions__button:hover {
  color: #fff;
  background: #9D5CD0;
}

.editions__button:active {
  padding: 7px 13px;
  color: #fff;
  background: #7943A4;
  border: #D1A9F0 3px solid;
}

.editions__button:focus.editions__button::before {
  display: block;
}

.editions__button:hover.editions__button::before,
.editions__button:active.editions__button::before {
  display: none;
}

.btn-check:focus+.btn, .btn:focus {
  box-shadow: none;
}

/*Проекты*/
.projects__head {
  margin-top: 80px;
  margin-bottom: 16px;
  line-height: 65px;
  color: #333333;
}

.projects__description {
  margin-bottom: 0;
  max-width: 1036px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.i-titul {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/i-titul-white.jpg");
  outline: none;
  transform: translateY(3px);
  cursor: pointer;
}

.i-titul__span {
  content: '';
  position: absolute;
  display: none;
  text-align: center;
  padding: 7px 11px;
  bottom: 190%;
  left: -650%;
  min-width: 232px;
  max-width: 264px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  background: #9D5CD0;
}

.i-titul:nth-child(2) .i-titul__span {
  left: -740%;
}

.i-titul::before {
  content: '';
  position: absolute;
  display: none;
  right: 15%;
  bottom: 155%;
  width: 10px;
  height: 10px;
  background: #9D5CD0;
  transform: rotate(45deg);
}

.i-titul:hover,
.i-titul:focus {
  background-image: url("../img/i-titul_hover.png");
}

.i-titul:hover .i-titul__span,
.i-titul:hover::before,
.i-titul:focus .i-titul__span,
.i-titul:focus::before,
.i-titul:active .i-titul__span,
.i-titul:active::before {
  display: block;
}

.i-titul:active {
  background-image: url("../img/i-titul_activ.png");
}

.projects__description-link {
  position: relative;
  padding: 3px 3px;
  font-size: 16px;
  font-weight: 600;
  color: #9D5CD0;
  outline: none;
  cursor: pointer;
}

.projects__description-link::before {
  content: '';
  position: absolute;
  display: none;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 3px;
  border-bottom: #9D5CD0 1px solid;
}

.projects__description-link:focus {
  color: #fff;
  background: #9D5CD0;
}

.projects__description-link:hover::before {
  display: block;
}

.projects__description-link:active::before {
  display: block;
  border-bottom: #7943A4 1px solid;
}

.projects__description-link:hover {
  color: #9D5CD0;
  background: rgba(0, 0, 0, 0);
}

.projects__description-link:active {
  color: #7943A4;
  background: rgba(0, 0, 0, 0);
}

.projects__partners {
  margin-top: 19px;
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333333;
}

/*Проекты слайдер*/
.projects__slider {
  display: flex;
  align-items: center;
}

.projects-container {
  width: 1550px;
  height: 151px;
  overflow: hidden;
}

.projects__slider .swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 450px;
  height: 150px;
  border: #CACACA 1px solid;
  cursor: pointer;
  transition: border .3s ease;
}

.projects__slider .swiper-slide:focus {
  outline: none;
}

.projects__slider .swiper-slide:focus {
  border: #9D5CD0 1px solid;
}

.projects__slider .swiper-slide:hover {
  border: #CACACA 1px solid;
}

.projects__slider .swiper-slide:active {
  border: #9D5CD0 1px solid;
}

.projects__img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: filter .3s ease, opacity .3s ease;
}

.projects__slider .swiper-slide:hover .projects__img,
.projects__slider .swiper-slide:focus .projects__img,
.projects__slider .swiper-slide:active .projects__img {
  filter: grayscale(0);
  opacity: 1;
}

.projects__slider .swiper-prev,
.projects__slider .swiper-next {
  background: #ECECEC;
}

.projects__slider .swiper-prev {
  margin-right: 45px;
}

.projects__slider .swiper-next {
  margin-left: 45px;
}

.projects__slider .swiper-next::before {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.projects__slider .swiper-prev::before {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.projects__slider .swiper-button-next.swiper-button-disabled,
.projects__slider .swiper-button-prev.swiper-button-disabled {
  background: #ECECEC!important;
}

.projects__slider .swiper-btn {
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  border: transparent 2px solid;
}

.projects__slider .swiper-btn:focus {
  border: #9D5CD0 2px solid;
}

.projects__slider .swiper-btn:hover {
  background: #D1A9F0;
  border: none;
}

.projects__slider .swiper-btn:active {
  background: #D1A9F0;
  border: #9D5CD0 2px solid;
}

/*Контакты*/
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
}

.contacts__body {
  display: flex;
}

.contacts__head,
.contacts__name,
.contacts__adress,
.contacts__call,
.contacts__label,
.contacts__button,
.contacts__social,
.contacts__social-block {
  margin-left: 160px;
}

.contacts__social-block {
  margin-bottom: 98px;
}

.contacts__left {
  width: 682px;
}

.contacts__head {
  margin-bottom: 17px;
  line-height: 65px;
  color: #333333;
}

.contacts__wrap {
  border-top: #CACACA 1px solid;
  border-right: #CACACA 1px solid;
}

.contacts__name {
  display: block;
  padding-top: 123px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.contacts__adress {
  display: block;
  margin-bottom: 34px;
  font-size: 16px;
  color: #333333;
}

.contacts__call,
.contacts__social {
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__call {
  margin-bottom: 18px;
}

.contacts__form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts__label {
  position: relative;
  max-width: 400px;
}

.contacts__input {
  padding-left: 24px;
  width: 372px;
  height: 40px;
  margin-bottom: 18px;
  color: #333;
  border: #333333 1px solid;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}

.contacts__input::placeholder {
  color: #999999;
}

.js-validate-error-label {
  position: absolute;
  top: -21px;
  left: 24px;
  color: #D11616 !important;
}

.contacts__input.js-validate-error-field {
  color: #999999 !important;
  border: #D11616 1px solid !important;
}

.contacts__input:focus,
.contacts__input:hover {
  background: #EAEAEA;
}

.contacts__input-onfocus {
  background: rgba(0, 0, 0, 0)!important;
}

.contacts__button,
.contacts__button:hover {
  margin-bottom: 15px;
  padding: 17px 35px;
  max-width: 157px;
  color: #9D5CD0;
}

.contacts__social-block {
  display: flex;
  margin-bottom: 124px;
}

.contacts__social-icon {
  position: relative;
  width: 40px;
  height: 40px;
}

.contacts__social-icon:nth-child(1) {
  margin-right: 21px;
}

.contacts__link {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  transition: opacity .3s ease;
}

.contacts__link::before {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: #9643A4 1px solid;
  border-radius: 100px;
}

.contacts__social-icon:nth-child(1) .contacts__link {
  background-image: url("../img/Whatsapp-Icon.png")
}

.contacts__social-icon:nth-child(2) .contacts__link {
  background-image: url("../img/Telegram_2019_Logo.png");
}

.contacts__link:hover,
.contacts__link:focus {
  opacity: 0.5;
}

.contacts__link:active {
  opacity: 1;
}

.contacts__link:active.contacts__link::before {
  display: block;
}

.contacts__right {
  display: flex;
  height: 700px;
  overflow: hidden;
}

#map {
  width: 1238px;
  height: 711px
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-zoom {
  height: auto!important;
}

.ymaps-2-1-79-zoom__plus {
  box-shadow: none!important;
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.ymaps-2-1-79-zoom__minus {
  box-shadow: none!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 10px!important;
  border-bottom-left-radius: 10px!important;
}

.ymaps-2-1-79-float-button {
  box-shadow: none!important;
  border-radius: 10px!important;
}

/*Футер*/
.footer {
  background: black;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}

.footer__right {
  display: flex;
  margin: 0;
}

.footer__item {
  width: 45px;
  height: 45px;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  outline: none;
}

.footer__link:hover svg path,
.footer__link:focus svg path {
  transition: fill .3s ease;
  fill: #fff;
}

.footer__link:active svg path {
  transition: fill .3s ease;
  fill: #9D5CD0;
}
