@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root {
  --main-color: #9D5CD0;
  --second-color: #7943A4;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.container {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1600px;
}

.btn {
  border: #9D5CD0 2px solid;
  border-radius: 100px;
}

/*Head*/
.head {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.head__top {
  display: flex;
  min-height: 100px;
  background: black;
}

.head__top-container {
  display: flex;
  align-items: center;
}

.head__top-left {
  margin-right: 179px;
}

.head__nav {
  display: flex;
}

.head__link,
.head__top-right {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.head__link:not(:last-child) {
  margin-right: 62px;
}

.head__top-right {
  margin-left: 279px;
  padding-left: 20px;
  background-image: url("../img/Come_in_icon.png");
  background-repeat: no-repeat;
  background-position: left;
}

.head__bottom {
  min-height: 70px;
  background: rgba(0, 0, 0, 0.4);
}

.head__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.head__bottom-left {
  display: flex;
}

.head__select:not(:last-child) {
  margin-right: 97px;
}

/*Выпадающий список*/
.btn {
  padding: 0;
}
.head__select .btn-secondary,
.head__select .btn-secondary:hover,
.head__select .btn-check:focus+.btn-secondary,
.head__select .btn-secondary:focus {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}
.head__select .btn-check:active+.btn-secondary:focus,
.head__select .btn-check:checked+.btn-secondary:focus,
.head__select .btn-secondary.active:focus,
.head__select .btn-secondary:active:focus,
.head__select .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.head__select .dropdown-toggle::after {
  margin-left: 4px;
  width: 12px;
  height: 7px;
  vertical-align: middle;
  background-image: url("../img/Arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.head__select .show.dropdown-toggle::after {
  background-image: url("../img/Arrow_m.png");
}

.head__search-label {
  display: flex;
  align-items: flex-end;
}

.head__search-btn {
  padding: 0;
  width: 22px;
  height: 22px;
  background: rgba(0, 0, 0, 0) url("../img/Search.png") no-repeat;
  border: none;
}

.head__search-input {
  margin-left: 9px;
  width: 218px;
  line-height: 1;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: rgba(255, 255, 255, 0.85) 1px solid;
}

.head__search-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

/*Main*/
/*Banner*/
.banner {
  min-height: 800px;
}

.banner .carousel {
  position: absolute;
  z-index: -1;
}

.banner__head {
  padding-top: 233px;
  margin-bottom: 10px;
  width: 550px;
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: white;
}

.banner__description {
  margin-bottom: 92px;
  width: 550px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: white;
}

.banner__btn {
  padding: 23px 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: white;
  background: #9D5CD0;
  border: none;
  border-radius: 100px;
}

.aboutUs {
  margin-bottom: 80px;
}

.aboutUs__head {
  margin-top: 80px;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.aboutUs__content {
  max-width: 1010px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.gallery {
  min-height: 995px;
  background: url("../img/Gallery_fon.jpg");
}

.gallery__container {
  display: flex;
}

.gallery__left {
  position: relative;
  height: 995px;
  margin-right: 50px;
}

.gallery__head {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: white;
}

.gallery__filter-span {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: white;
}

/*Выпадающий список*/
.gallery__dropdown .btn-secondary,
.gallery__dropdown .btn-secondary:hover,
.gallery__dropdown .btn-check:focus+.btn-secondary,
.gallery__dropdown .btn-secondary:focus {
  padding-top: 3px;
  padding-left: 15px;
  padding-bottom: 5px;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  box-shadow: none;
}

.gallery__dropdown .btn-secondary:hover {
  background: rgba(255, 255, 255, 0.2);
}

.gallery__dropdown .btn-check:active+.btn-secondary:focus,
.gallery__dropdown .btn-check:checked+.btn-secondary:focus,
.gallery__dropdown .btn-secondary.active:focus,
.gallery__dropdown .btn-secondary:active:focus,
.gallery__dropdown .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.gallery__dropdown .dropdown-toggle::after {
  margin-left: 280px;
  margin-right: 15px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-top: none;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  transform: translate(-50%, -50%) rotate(45deg);
}

.gallery__dropdown .show.dropdown-toggle::after {
  transform: translate(-50%, 0) rotate(225deg);
}

/*Выпадающее меню*/
.dropdown-menu.show {
  padding: 0;
  background: rgba(0, 0, 0, 0);
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  width: 400px;
  min-height: 40px;
  flex-shrink: 1;
  color: #999999;
  border: 1px solid #999999;
}

.dropdown-menu.show li:first-child .dropdown-item {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.dropdown-menu.show li:last-child .dropdown-item {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.dropdown-menu.show li:not(:first-child) .dropdown-item {
  border-top: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/*Выпадающее меню. Шапка сайта*/
.head .dropdown-item {
  width: min-content;
}


.gallery__down {
  position: absolute;
  bottom: 80px;
  margin-bottom: 0;
  max-width: 360px;
  color: white;
}

.gallery__down-span {
  color: #9D5CD0;
}

/*Галерея слайдер*/
.gallery-container {
  margin-top: 105px;
  width: 1150px;
  overflow: hidden;
}

.swiper-slide {
  height: 350px;
}

.swiper-navigation,
.editions__navigation{
  display: inline-flex;
  margin-bottom: 30px;
  height: 30px;
  align-items: center;
}

.swiper-pagination {
  position: initial;
  margin-right: 15px;
  width: auto;
  color: #fff;
}

.swiper-btn {
  position: relative;
  top: 0;
  margin-top: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #666666;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-prev {
  left: 0;
  margin-right: 15px;
}

.swiper-next {
  right: 0;
}

.swiper-btn:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(225deg);
  transform-origin: center;
}

.swiper-prev::before {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.swiper-next::before {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/*Catalog*/
.catalog__top {
  display: flex;
  margin-top: 80px;
  margin-bottom: 30px;
}

.catalog__head {
  margin-right: 29px;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.catalog__country-block {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.catalog__country {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
}

.catalog__country:not(:last-child) {
  margin-right: 40px;
}

.country-activ {
  background-image: url("../img/Country_ellipse.png");
}

.catalog__description {
  margin-bottom: 50px;
  max-width: 1020px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__main {
  display: flex;
}

.catalog__left {
  display: none;
  flex-direction: column;
  margin-right: 50px;
}

.catalog__left-activ {
  display: flex;
}

.catalog__photo {
  margin-bottom: 30px;
}

.catalog__name {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #333333;
}

.catalog__date {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__painter-description {
  max-width: 700px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/*Аккордион*/
.accordion {
  width: 800px;
}

.accordion-body {
  display: flex;
}

.accordion-body-block {
  margin-right: 50px;
}

.accordion__pointer {
  cursor: pointer;
}

.accordion__pointer-activ {
  color: #9D5CD0;
}

.accordion-button {
  padding: 41px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.accordion-button:not(.collapsed) {
  color: #7943A4;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item {
  border: 1px solid #CACACA;
  border-left: none;
  border-right: none;
}

.accordion-button:not(.collapsed) {
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
}

.accordion-button::after {
  width: 50px;
  height: 50px;
  background-image: url("../img/Accordion_arrow.svg");
  background-size: contain;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/Accordion_arrow_color.svg");
}

/*События*/
.events__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events__heading {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
}

.events__item {
  position: relative;
  display: none;
  margin-bottom: 50px;
  max-width: 500px;
  min-height: 700px;
}

.events__item-activ {
  display: list-item;
}

.events__item::before {
  content: '';
  position: absolute;
  top: 300px;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: #CACACA solid 1px;
  border-bottom: #CACACA solid 1px;
  border-left: #CACACA solid 1px;
}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__img-main {
  margin-bottom: 13px;
}

.events__date {
  display: flex;
  justify-content: flex-end;
  margin-right: 19px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #999999;
}

.events__head {
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 50px;
  max-width: 420px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #333333;
}

.events__description {
  margin-left: 50px;
  padding-bottom: 80px;
  max-width: 380px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.events__details {
  position: absolute;
  bottom: 45px;
  left: 50px;
  padding-bottom: 2px;
  font-size: 16px;
  color: #9D5CD0;
  border-bottom: #9D5CD0 solid 1px;
  cursor: pointer;
}

.events__button {
  padding: 17px 35px;
  max-width: 188px;
  color: #9D5CD0;
  background-color: white;
}

.disactiv {
  display: none;
}

/*Издания*/
.editions__container {
  display: flex;
}

.editions {
  margin-top: 80px;
  padding-bottom: 30px;
  min-height: 763px;
  background-image: url("../img/Editions_fon.jpg");
}

.editions__left {
  margin-right: 170px;
}

.editions__head {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 65px;
  color: white;
}

.editions__categories {
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}

/*Кастомный чекбокс*/
.editions__list {
  margin-bottom: 32px;
}

.editions__label {
  position: relative;
  margin-bottom: 6px;
  padding-left: 24px;
  color: white;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.editions__input {
  display: none;
}

.editions__span {
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
  border: #FFFFFF 1px solid;
  transition: border 300ms ease-in-out;
}

.editions__span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.editions__input:checked + .editions__label .editions__span::before {
  opacity: 1;
  background-image: url("../img/input_ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
}

.editions__input:checked + .editions__label .editions__span {
  border: #C283F3 1px solid;
}

.editions__input:checked + .editions__label {
  color: #C283F3;
}

.editions__price {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}

/*Инпут*/
.editions__form {
  position: relative;
  display: flex;
  max-width: 277px;
  height: 40px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 6px;
}

.mb-3 {
  display: flex;
  margin-bottom: 0!important;
}

.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: white;
}

.form-control {
  max-width: 73px;
  color: white;
  background-color: rgba(157, 92, 208, 0.5);
  border: none;
  border-radius: 0;
}

.form-rub {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}

/*Издания слайдер*/
.editions-container {
  margin-top: 115px;
  width: 1150px;
  height: 580px;
  overflow: hidden;
}

.editions__description {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 20px;
}

.editions__name,
.editions__author,
.editions__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #FFFFFF;
}

.editions__author,
.editions__price {
  font-weight: 400;
}

.editions__price {
  font-style: italic;
}

.editions__button {
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: white;
  background: rgba(0, 0, 0, 0);
}

/*Проекты*/
.projects__head {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.projects__description {
  margin-bottom: 30px;
  max-width: 990px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.i-titul {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/i-titul-white.jpg");
  transform: translateY(3px);
}

.i-titul__psevdo {
  position: absolute;
  display: none;
  padding-top: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: white;
}

.i-titul__psevdo-1 {
  width: 264px;
  height: 59px;
  top: -66px;
  left: -124px;
  background-image: url("../img/i-titul-1.png");
}

.i-titul:hover .i-titul__psevdo {
  display: flex;
}

.projects__partners {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333333;
}

/*Проекты слайдер*/
.projects__slider {
  display: flex;
  align-items: center;
}

.projects-container {
  width: 1550px;
  height: 150px;
  overflow: hidden;
}

.projects__slider .swiper-prev,
.projects__slider .swiper-next {
  background: #ECECEC;
}

.projects__slider .swiper-prev {
  margin-right: 45px;
}

.projects__slider .swiper-next {
  margin-left: 45px;
}

.projects__slider .swiper-next::before {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.projects__slider .swiper-prev::before {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.projects__img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 150px;
  border: #CACACA 1px solid;
}

/*Контакты*/
.contacts {
  display: flex;
}

.contacts__head,
.contacts__name,
.contacts__adress,
.contacts__call,
.contacts__label,
.contacts__button,
.contacts__social,
.contacts__social-block {
  margin-left: 160px;
}

.contacts__left {
  width: 682px;
}

.contacts__head {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.contacts__wrap {
  border-top: #CACACA 1px solid;
  border-right: #CACACA 1px solid;
}

.contacts__name {
  display: block;
  padding-top: 112px;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.contacts__adress {
  display: block;
  margin-bottom: 27px;
  font-size: 16px;
  color: #333333;
}

.contacts__call,
.contacts__social {
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts__label {
  position: relative;
  max-width: 400px;
}

.contacts__input {
  padding-left: 24px;
  width: 400px;
  height: 40px;
  margin-bottom: 23px;
  border: #333333 1px solid;
  border-radius: 100px;
}

.contacts__input::placeholder {
  color: #999999;
}

.js-validate-error-label {
  position: absolute;
  top: -25px;
  left: 24px;
  color: #D11616 !important;
}

.contacts__input.js-validate-error-field {
  color: #999999 !important;
  border: #D11616 1px solid !important;
}

.contacts__button {
  margin-bottom: 38px;
  padding: 17px 35px;
  max-width: 157px;
  color: #9D5CD0;
}

.contacts__social-block {
  display: flex;
  margin-bottom: 124px;
}

.contacts__social-icon {
  position: relative;
  width: 40px;
  height: 40px;
}

.contacts__social-icon:nth-child(1) {
  margin-right: 21px;
  background-image: url("../img/Whatsapp-Icon.png");
}

.contacts__social-icon:nth-child(2) {
  background-image: url("../img/Telegram_2019_Logo.png");
}

.contacts__link {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contacts__right {
  display: flex;
  align-items: flex-end;
}

#map {
  width: 1238px;
  height: 700px
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-78-zoom {
  height: auto!important;
}

.ymaps-2-1-78-zoom__scale {
  display: none;
}

.ymaps-2-1-78-zoom {
  position: absolute!important;
  top: 160px;
  left: 1185px;
}

.ymaps-2-1-78-zoom__plus {
  box-shadow: none!important;
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.ymaps-2-1-78-zoom__minus {
  box-shadow: none!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 10px!important;
  border-bottom-left-radius: 10px!important;
}

.ymaps-2-1-78-controls__control_toolbar {
  position: absolute!important;
  top: 325px!important;
  left: 1185px!important;
}

.ymaps-2-1-78-float-button {
  box-shadow: none!important;
  border-radius: 10px!important;
}

/*Футер*/
.footer {
  background: black;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}

.footer__right {
  display: flex;
  margin: 0;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__item{
  position: relative;
  width: 45px;
  height: 45px;
}

.footer__link {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer__item:nth-child(1) {
  background-image: url("../img/vk_icon.png");
}

.footer__item:nth-child(2) {
  background-image: url("../img/instagram_icon.png");
}

.footer__item:nth-child(3) {
  background-image: url("../img/fb_icon.png");
}
